<!DOCTYPE html>
<html>
  <head>
    <!-- Webpage Title -->
    <title>Home | MOOD LOG</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <style></style>
    <script></script>
  </head>
  <body>
    <section class="hero is-white">
      <div
        class="hero-body has-text-centered"
        style="padding-bottom: 1rem; margin: auto"
      >
        <h1 class="title is-sparta">MOOD LOG</h1>
      </div>
    </section>
    <a href="/register">이동</a>
  </body>
</html>
